doctype=html
html(language=en)
    include components/_head.pug
body
    div.background-image
    include components/_navbar.pug
    include components/_messages.pug
    div.container
        div.row
            div.students.col-12.col-lg-3.float-right
                form.student-add-form(method='post' action='/student/add')
                    div.card-title.d-flex.justify-content-center Add Student
                    div.form-group.one
                        div.input-group
                            span.input-group-addon
                                i.input-group-text.fa.fa-user
                            input.form-control.form-control-sm(type='text' name='name' id='name' placeholder='Enter Name')
                    div.form-group
                        div.input-group
                            span.input-group-addon
                                i.input-group-text.fa.fa-list
                            input.form-control.form-control-sm(type='text' name='course' id='course' placeholder='Enter Course')
                    div.form-group
                        div.input-group
                            span.input-group-addon
                                i.input-group-text.fa.fa-graduation-cap
                            input.form-control.form-control-sm(type='text' name='grade' id='grade' placeholder='Enter Grade')
                    div.row.d-flex.justify-content-center
                        button.addButton.btn.btn-success(type='submit' id='addBtn') Add Student
            div.col-12.col-lg-9.float-right.table-div
                table.student-table.table.table-hover.table-striped.table-bordered
                    thead.thead-dark
                        tr
                            td(scope='col' info='table') Name
                                i.fas.fa-sort
                            td(scope='col' info='table') Course
                                i.fas.fa-sort
                            td(scope='col' info='table') Grade
                                i.fas.fa-sort
                            td(scope='col' info='table') Actions
                    if studentList
                        each student in studentList
                            tr
                                td #{student.name}
                                td #{student.course}
                                td #{student.grade}
                                td
                                    button.btn.btn-sm.btn-danger.delete(data='/student/remove/'+ student._id data-method='get' name=student.name) Delete
                                    button.btn.btn-sm.btn-warning.update(data='/student/update/'+ student._id data-method='post' name=student) Edit
                    else if !studentList
                            tr
                                td
    include components/_messageModal.pug
    include components/_updateModal.pug